<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=0">
      <title>Make.</title>
      <link rel="stylesheet" href="/style.css">
    </head>
    <body>
      <div class="row">
        <img src="https://raw.githubusercontent.com/wl-hackclub/make-site/master/orpheus%20flag%20anon.png" width="5" height="5">
      </div>
      <h2>You've been added to the list.</h2>
      <p>After Fall Break, you'll find out what it means to be a maker.</p>
    </body>
</html>